<h3>{{name}}</h3>
<p>{{description}}</p>
<p>{{location}}</p>
{{#each operating_hours}}
<p>Operating hours: {{this.opening}} - {{this.closing}}</p>
{{/each }}
<p class="col-sm-4">&copy; {{year}} Coasters with the Most-ers, LLC</p>
